{% extends 'base.html' %}



{% block content %}

<div class="mt-5">

    <div class="content px-3 py-3">
        <div class="row">
            <div class="item col-lg-4 col-md-6 mb-4">
                <div class="card h-100 main-card">
                    <div class="mt-2 mx-3    inner">
                        <img class="card-img-top" src="http://127.0.0.1:8000/media/default-profile.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="">sdfsdfs sdf sdf sdf sd</a>
                        </h4>
                        <h6 style="color:grey;">12 May 2019</h6>
                        <h6>By Huan Ander</h6>
                        <p class="card-text"><em>dfds ds ds dsg sdg sd gsdg sd sgsd gs sdds sdg sg s dfsgs</em></p>
                        <a href="" class="read-more">Read more...</a>
                    </div>
                    <div class="card-footer">
                        <b>Comments:</b> 111<br>
                        <b>Likes:</b> 111
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sidebar px-3 py-3">
        <h4>Most commented Posts</h4>
        <a href="#" class="d-block">Link 1</a>
        <a href="#" class="d-block">Link 2</a>
        <a href="#" class="d-block">Link 3</a>
        <hr>
        <h4 class="mt-3">Most liked Posts</h4>
        <a href="#" class="d-block">Link 1</a>
        <a href="#" class="d-block">Link 2</a>
        <a href="#" class="d-block">Link 3</a>
    </div>

</div>

{% endblock %}