{% extends 'base.html' %}
{% load posts_tags %}


{% block title %}
    {{ profile.username }} - {{ block.super }}
{% endblock %}



{% block content %}

<div class="mt-5">

    <div class="content-profile py-2 px-2">
        <div class="media">
          <img src="{{ profile.image.url }}" class="mr-3" alt="...">
          <div class="media-body">
            <h3 class="mt-0">Personal Data:</h3>
            <hr>
            <b>Username:</b> {{ profile.username }}<br>
            <b>City:</b> {{ profile.city }}<br>
            <b>Country:</b> {{ profile.country }}<br>
            <b>Birthday:</b> {{ profile.birthday }}<br>

            <!--  TODO - Fill values -->
            <b>Created Posts:</b> 11<br>
            <b>Left Comments:</b> 22<br>
            <hr>
            <button class="user-update btn btn-outline-primary" name="button" data-id="{% url 'users:user_update' profile.pk %}">
                Update Detail Info
            </button>
            <button class="user-delete btn btn-outline-danger ml-2" name="button" data-id="{% url 'users:user_delete' profile.pk %}">
                Delete User Account
            </button>

          </div>
        </div>
    </div>

    <div class="sidebar-profile px-3 py-3">
        <h4>All Posts by {{ profile.username }}:</h4>
        {% for post in profile.posts.all %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endfor %}
    </div>

</div>

{% endblock %}